# build output
dist/
.astro/

# dependencies
node_modules
node_modules/
.DS_Store

# local env files
.env
.env.*

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# wrangler / cloudflare files
.wrangler/
.dev.vars
